body {
  font-family: 'Poppins', sans-serif;
  background-color: #FDF9C5;
}

.mission {
  background: linear-gradient(to right, #2e5d50, #4a8a73);
}

.mission .row {
  align-items: flex-start;
}

.mission .col-md-5 {
  margin-top: 100px;
}

.mission .col-md-7 {
  margin-top: -300px;
  margin-left: 700px;
}

.custom-navbar {
  background-color: #476252;
}

.logo {
  height: 28px;
  margin-right: 0;
  vertical-align: middle;
}

.brand-text {
  color: #EFE7B9;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-left: 2px;
}

.custom-navbar .nav-link {
  color: #FDF9C5 !important;
  font-weight: 500;
  margin: 0 8px;
  transition: 0.3s;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link.active {
  color: #fff !important;
  text-decoration: underline;
}

.custom-navbar i {
  font-size: 1.2rem;
  color: #FDF9C5;
  transition: color 0.3s;
}

.custom-navbar i:hover {
  color: white;
}

.hero-section {
  height: 65vh;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.35);
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.hero-section .btn {
  border-radius: 25px;
  font-weight: 500;
}

.hero-section .box-image {
  max-width: 70%;
  height: auto;
}

.achievements-section h3 {
  font-size: 1.8rem;
}

.achievements-section img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.achievements-section img:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-launching,
.btn-outreach {
  background-color: #475C4C;
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease;
}

.btn-launching:hover,
.btn-outreach:hover {
  background-color: #2f3f33;
}

.uniform-img {
  margin-top: 50px;
}

.ceo-image {
  width: 250px;
  height: auto;
  object-fit: cover;
}

.footer {
  background-color: #476252;
  color: #ffffff;
  font-size: 0.9rem;
}

.footer-logo {
  height: 40px;
}

.footer a {
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer a:hover {
  text-decoration: underline;
  color: #EFE7B9;
}

.footer p {
  margin-bottom: 0.4rem;
}

.footer ul li {
  margin-bottom: 0.6rem;
}